
darkpurple = #37314A;
midblue = #01AAE2;
tealblue = rgba(1, 113, 160, 0.4);
lightergray = rgba(128, 128, 128, 0.46);


@font-face {
    font-family: 'ChampLim';
    src: url('fonts/Champagne&Limousines.woff') format('woff');
}

body {
    margin: 0px;
    display: compact;
    height: 46em;
    font-family: ChampLim !important;
}

.main-logo {
    margin-top: 4em;
	margin-bottom: 5em;
    width: 60%;
}

.top-logo {
    margin-top: -11em;
    margin-left: 2em;
    position: fixed;
    width: 100%;
}

.main-div {
    background: url('pictures/BlackAndWhiteConcert.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;

    .down_arrow_container {
    	position:absolute;
    	width:100%;
    	bottom:50px;
	
		#get-started {
			position:relative;
		}

		#get-started:hover, #get-started:focus, #get-started:active {
			-webkit-animation: bouncingArrow 0.65s infinite; /* Safari 4+ */
		    -moz-animation:    bouncingArrow 0.65s infinite; /* Fx 5+ */
		    -o-animation:      bouncingArrow 0.65s infinite; /* Opera 12+ */
		    animation:         bouncingArrow 0.65s infinite; /* IE 10+, Fx 29+ */
		}
    }
}

@keyframes bouncingArrow {
    0% {
        top:0px;
    }
    80% {
    	top:6px;
    }
    100% {
        top:0px;
    }
}

.sub-heading {
    position: relative;
    color: black;
    font-size: 300%;
    margin-bottom: 50x;
}

.description {
    font-size: 200%;
    margin-bottom: 50px;
    font-weight: bold;
}

.page2 {
    margin-top: 0px;
    padding-top: 50px;
    height: 700px;
}

.button1 {
    border-style: solid;
    border-width: 5px;
    border-color: rgba(0, 0, 102, 0.5);
    border-radius: 25px;
    background: #b3d8ff;
    width: 20%;
}

.url-input {
    border-style: solid;
    border-width: 3px;
    border-color: rgba(77, 77, 255, 0.8);
    border-radius: 25px;
    background: #b3d8ff;
    width: 25%;
    height: 7%;
    font-size: 175%;
}

.url-submit-button {
    border-style: solid;
    border-width: 3px;
    border-color: rgba(0, 0, 128, 0.8);
    border-radius: 25px;
    background: rgba(0, 0, 230, 0.5);
    width: 25%;
    height: 7%;
}

.uploaded-image {
    position: relative;
    left: 10%;
}

.page3 {
    height: 700px;
    padding-top: 50px;
}

.tag-display {
    width: 40%;
    border-style: solid;
    border-color: rgba(102, 218, 255, 0.8);
    border-width: 1px 3px 3px 1px;
    border-radius: 25px;
}

.tag-list {}

.tag-input {
    border-style: solid;
    border-width: 3px;
    border-color: rgba(77, 77, 255, 0.8);
    border-radius: 25px;
    background: #b3d8ff;
    width: 20%;
}

.tag-submit-button {
    border-style: solid;
    border-width: 3px;
    border-color: rgba(0, 0, 128, 0.8);
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.8);
    width: 20%;
}

.fade-background {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
    display: inline;
}

.link-text {
    color: grey;
    font-weight: bold;
}

.DownArrow {
	opacity: 0.5;
	width: 2em;
}




.page2 {
	height:700px;
	
	background-image:url("pictures/texturedbackground.jpg");
	background-size:300px;

	.sub_heading {
		color: black;
		font-size: 4em;
		margin-bottom: 50x;
	}

	.input_field {
		width:750px;

		input {
			width: 100%;
		    font-size: 1.5em;
		    border: 0px;
		    border-bottom: 2px solid darkpurple;
			background-color:transparent;
			
		}

		input:hover, input:focus, input:active {
			border:0px;
			border-bottom: 2px solid tealblue;
			outline:0px;
			color:#01AAE2;
			transform: scale(1.0075, 1.0075);
			
			-webkit-transition:0.25s linear;
            transition:0.25s linear;
		}

		input::-webkit-input-placeholder {
			color:darkpurple;
		}

		input:hover:-moz-placeholder {
			color:darkpurple;
			opacity: 1;
		}

		input:hover::-moz-placeholder {
			color:darkpurple;
			opacity:1;
		}

		input:hover:-ms-input-placeholder {
			color:darkpurple;
		}

		input:hover:placeholder-shown {
			color:darkpurple;
		}

		input:hover::-webkit-input-placeholder, input:focus::-webkit-input-placeholder, input:active::-webkit-input-placeholder { /* WebKit, Blink, Edge */
		    color:    tealblue;
		}
		input:hover:-moz-placeholder, input:focus:-moz-placeholder, input:active:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		   color:    tealblue;
		   opacity:  1;
		}
		input:hover::-moz-placeholder, input:focus::-moz-placeholder, input:active::-moz-placeholder { /* Mozilla Firefox 19+ */
		   color:    tealblue;
		   opacity:  1;
		}
		input:hover:-ms-input-placeholder, input:focus:-ms-input-placeholder, input:active:-ms-input-placeholder { /* Internet Explorer 10-11 */
		   color:    tealblue;
		}
		input:hover:placeholder-shown, input:focus:placeholder-shown, input:active:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
		  color:    tealblue;
		}

		a {
			width:100%;
			font-size:1.2em;
			text-decoration: none;
			float:left;
			background-color:darkpurple;
			color:white;
			margin-top:3px;
			height:30px;
			line-height:30px;
		}

		a:hover, a:focus, a:active {
			cursor:pointer;
			color:black;
			background-color:tealblue;
			outline:0;
			color:white;

			font-weight:bold;

			-ms-transform: translate(0px, 2px); /* IE 9 */
		   	-webkit-transform: translate(0px, 2px); /* Safari */
		    transform: translate(0px, 2px);

			-webkit-transition:0.25s linear;
            transition:0.25s linear;
		}
	}
}

.page3 {
	.tag_display {
		width:750px;
		border:0px;
		ul {
			padding:0px;
			list-style:none;
			margin:0px;

			li {
				/*max-height:300px;*/
				
				.tagImages {
					display:inline-block;
					width:35%;
					height: 308px;
    				float: left;
					img {
						display:inline-block;
						width:95%;
						border: 1px solid darkpurple;
					}
				}

				.content {
					width:65%;
					display:inline-block;
					height:308px;
					ul {
						position:relative;
						height:308px;
						list-style:none;
						padding:0px;
						li {
							iframe {
								height:150px;
							}
						}

						img {
							position: relative;
						    top: 25%;
						    -webkit-transform: translateY(-50%);
						    -ms-transform: translateY(-50%);
						    transform: translateY(-50%);
						}
					}
				}
			}
		}
	}

	.tryagainArea {
		width:750px;

		a {
			width:100%;
			font-size:1.2em;
			text-decoration: none;
			float:left;
			background-color:darkpurple;
			color:white;
			margin-top:3px;
			height:30px;
			line-height:30px;
		}

		a:hover, a:focus, a:active {
			cursor:pointer;
			color:black;
			background-color:tealblue;
			outline:0;
			color:white;

			font-weight:bold;

			-ms-transform: translate(0px, 2px); /* IE 9 */
		   	-webkit-transform: translate(0px, 2px); /* Safari */
		    transform: translate(0px, 2px);

			-webkit-transition:0.25s linear;
            transition:0.25s linear;
		}
	}
}


/* GitHub Styling */

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0)
    }
    20%,
    60% {
        transform: rotate(-25deg)
    }
    40%,
    80% {
        transform: rotate(10deg)
    }
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0)
    }
    20%,
    60% {
        transform: rotate(-25deg)
    }
    40%,
    80% {
        transform: rotate(10deg)
    }
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}